/* =======================================
   ACCORDION
======================================= */

.zettelkasten-flow__accordion {
    border: 1px solid var(--background-secondary);
    border-radius: 4px;
    transition: opacity 0.2s ease;
    opacity: 1;
}

.zettelkasten-flow__accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--color-accent);
    border-bottom: 1px solid var(--background-secondary);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover más sutil en el Accordion Header */
.zettelkasten-flow__accordion-header:hover {
    background-color: var(--color-accent-hover);
    /* Asegúrate de que este color sea sutil */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /* Sombra externa sutil */
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.zettelkasten-flow__accordion-header-info {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    /* Ocupa solo el espacio necesario */
    min-width: 15%;
    /* Previene desbordamientos */
}

.zettelkasten-flow__accordion-header-info .zettelkasten-flow__input-group {
    margin-left: 10px;
    flex: 1 1 auto;
    /* Permite que el input-group ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    min-width: 0;
    /* Previene desbordamientos */
}

.zettelkasten-flow__accordion-header-info label {
    margin-right: 10px;
}

/* Acciones en el Header */
.zettelkasten-flow__accordion-header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 1 auto;
    /* Toma el espacio restante */
    min-width: 0;
    /* Previene desbordamientos */
}

.zettelkasten-flow__accordion-header-actions .zettelkasten-flow__input-group {
    flex: 1 1 auto;
    /* Permite que el input-group ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.zettelkasten-flow__accordion-header-actions .zettelkasten-flow__input-group input,
.zettelkasten-flow__accordion-header-actions .zettelkasten-flow__input-group textarea {
    width: 100%;
    box-sizing: border-box;
}

.zettelkasten-flow__accordion-header-actions button,
.zettelkasten-flow__accordion-header-actions .mobile-option-setting-drag-icon {
    flex: 0 0 auto;
    /* Mantener tamaño fijo */
}

/* Estilos para los botones dentro de accordion-header-actions */
.zettelkasten-flow__accordion-header-actions button {
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.zettelkasten-flow__accordion-header-actions button:hover {
    background-color: var(--background-modifier-hover);
}

.zettelkasten-flow__accordion-header-actions button:focus {
    outline: none;
}

/* Cuerpo del Accordion */
.zettelkasten-flow__accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, opacity 0.1s ease-out, padding 0.2s ease-out;
    opacity: 0;
    padding: 0 15px;
}

.zettelkasten-flow__accordion-body.open {
    max-height: 500em;
    opacity: 1;
    padding: 15px;
}

/* Animaciones */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.zettelkasten-flow__accordion.entrance {
    animation: slideDown 0.3s ease forwards;
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.zettelkasten-flow__accordion.exit {
    animation: slideUp 0.3s ease forwards;
}

.zettelkasten-flow__accordion-header-remove {
    cursor: pointer;
}

.zettelkasten-flow__accordion-header-remove:hover {
    background-color: var(--background-modifier-error);
}

/* =======================================
   RESPONSIVIDAD
======================================= */

@media (max-width: 550px) {
    .zettelkasten-flow__accordion-header-info {
        flex-direction: column;
        align-items: stretch;
    }

    .zettelkasten-flow__accordion-header-info .zettelkasten-flow__input-group {
        width: 100%;
        margin-left: 0;
    }

    .zettelkasten-flow__accordion-header-actions {
        flex-direction: column;
        align-items: stretch;
    }

    .zettelkasten-flow__accordion-header-actions .zettelkasten-flow__input-group {
        width: 100%;
    }
}