/*****************
*   ACCORDION
******************/
.zettelkasten-flow__accordion {
    border: 1px solid var(--background-secondary);
    border-radius: 4px;
    margin-bottom: 10px;
    transition: opacity 0.2s ease;
    opacity: 1;
}

.zettelkasten-flow__accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--color-accent);
    border-bottom: 1px solid var(--background-secondary);
    cursor: pointer;
}

.zettelkasten-flow__accordion-header-info {
    display: flex;
    align-items: center;
}

.zettelkasten-flow__accordion-header-info .zettelkasten-flow__input-group {
    margin-left: 10px;
}

.zettelkasten-flow__accordion-header-info label {
    margin-right: 10px;
}

.zettelkasten-flow__accordion-header-actions {
    display: inherit;
    gap: 10px;
}

.zettelkasten-flow__accordion-header-actions button {
    background: none;
    border: none;
    cursor: pointer;
}

.zettelkasten-flow__accordion-header-actions button:focus {
    outline: none;
}

.zettelkasten-flow__accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, opacity 0.1s ease-out;
    opacity: 0;
}

.zettelkasten-flow__accordion-body.open {
    max-height: 500em;
    opacity: 1;
    padding: 10px 15px;
}

/* Animación al añadir */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.zettelkasten-flow__accordion.entrance {
    animation: slideDown 0.3s ease forwards;
}

/* Animación al eliminar */
@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.zettelkasten-flow__accordion.exit {
    animation: slideUp 0.3s ease forwards;
}

.zettelkasten-flow__accordion-header-remove {
    cursor: pointer;
}

.zettelkasten-flow__accordion-header-remove:hover {
    background-color: var(--background-modifier-error);
}