.zettelkasten-flow__actions-management-add {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px 20px;
    flex-direction: column;
}

.zettelkasten-flow__actions-management-add-button-active,
.zettelkasten-flow__actions-management-add-button {
    color: var(--text-normal);
    width: 35px;
    height: 35;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.zettelkasten-flow__actions-management-add-button {
    background-color: var(--background-modifier-info);
}

.zettelkasten-flow__actions-management-add-button-active {
    background-color: var(--background-modifier-success);
    transform: rotate(45deg);
}

.zettelkasten-flow__actions-management-add-menu,
.zettelkasten-flow__actions-management-add-menu-show {
    background-color: var(--background-secondary);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 100%;
    margin-top: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: opacity 0.3s, max-height 0.3s;
}

.zettelkasten-flow__actions-management-add-menu {
    opacity: 0;
    max-height: 0;
    display: none;
}

.zettelkasten-flow__actions-management-add-menu-show{
    opacity: 1;
    max-height: 1000px;
}

.zettelkasten-flow__actions-management-add-menu-search {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--background-modifier-border);
    margin-bottom: 10px;
    font-size: 16px;
}

.zettelkasten-flow__actions-management-add-card {
    background-color: var(--background-secondary);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    flex: 1;
    border: 1px solid var(--background-modifier-border);
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;

    /* Para que crezca verticalmente */
}

.zettelkasten-flow__actions-management-add-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.zettelkasten-flow__actions-management-add-card-icon {
    margin-bottom: 10px;
}

.zettelkasten-flow__actions-management-add-card-header {
    width: 100%;
    text-align: center;
}

.zettelkasten-flow__actions-management-add-card-header label {
    font-weight: bold;
    font-size: 18px;
}

.zettelkasten-flow__actions-management-add-card-link {
    text-decoration: none;
    color: var(--text-accent);
    font-size: 14px;
    margin-top: 5px;
    display: inline-block;
}

.zettelkasten-flow__actions-management-add-card-body {
    font-size: 14px;
    color: var(--text-muted);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
    line-height: 1.5em;
}

.zettelkasten-flow__actions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.zettelkasten-flow__actions-list>.zettelkasten-flow__actions-management-add-card {
    flex: 1 1 calc(33.333% - 10px);
    /* Tres columnas */
    max-width: calc(33.333% - 10px);
    /* Tres columnas */
}

@media (max-width: 600px) {
    .zettelkasten-flow__actions-management-add {
        flex-direction: column;
    }

    .zettelkasten-flow__actions-list {
        flex-direction: column;
    }

        
    .zettelkasten-flow__actions-list>.zettelkasten-flow__actions-management-add-card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}