.zettelkasten-flow__input-group {
    position: relative;
}

.zettelkasten-flow__input-group input,
textarea {
    border: solid 1.5px var(--background-secondary);
    border-radius: 0.25rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-normal);
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.zettelkasten-flow__input-label {
    color: var(--text-accent);
    pointer-events: none;
    transform: translateY(0.4rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    left: 15px;
    top: 0;
}

.zettelkasten-flow__input-group input:focus,
.zettelkasten-flow__input-group input:valid {
    outline: none;
    border: 1.5px solid var(--text-accent);
}

.zettelkasten-flow__input-group input:focus~.zettelkasten-flow__input-label,
.zettelkasten-flow__input-group input:valid~.zettelkasten-flow__input-label {
    transform: translateY(-50%) scale(0.8);
    background-color: var(--background-primary);
    padding: 0 0.2em;
    color: var(--text-normal);
}