.zettelkasten-flow__modal {
    width: var(--modal-width);
    height: var(--modal-height);
    max-width: var(--modal-max-width);
    max-height: var(--modal-max-height);
}

.zettelkasten-flow__modal-navbar {
    display: flex;
    justify-content: space-between;
    /* Empuja los elementos a los extremos */
    align-items: center;
    /* Centra verticalmente */
    padding: 0.5em 1em;
    /* Margen interior */
    border-bottom: 1px solid #ccc;
    /* Línea separadora */
}

.zettelkasten-flow__modal-navbar h2 {
    margin: 0;
    /* Elimina márgenes */
    font-size: 1.5em;
    /* Tamaño de la fuente */
    font-weight: bold;
    /* Negrita */
}
.zettelkasten-flow__navbar-button-group {
    display: flex;
    /* Flexbox */
    gap: 0.5em;
    /* Espacio entre elementos */
}

.zettelkasten-flow__modal-navbar button {
    margin-left: auto;
    /* Empuja el botón hacia la derecha */
}

/* Sección de tipo de acción */
.zettelkasten-flow__modal-reader-type-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.zettelkasten-flow__modal-reader-type-section p {
    margin: 0;
    margin-right: 10px;
    font-weight: bold;
}

zettelkasten-flow__.modal-reader-type-section .icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Sección de información general */
.zettelkasten-flow__modal-reader-general-section {
    margin-bottom: 20px;
}

/* Sección de configuración */
.zettelkasten-flow__modal-reader-section {
    margin-bottom: 20px;
}

/* Estilos para los elementos de configuración dentro de modal-reader-section */
.zettelkasten-flow__modal-reader-section .setting-item {
    margin-bottom: 15px;
}

/* Botones adicionales dentro de modal-reader-section si los hay */
.zettelkasten-flow__modal-reader-section .setting-item button {
    margin-top: 5px;
}