.zettelkasten-flow__navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.zettelkasten-flow__navbar_icons {
    display: flex;
    flex-wrap: nowrap;
    align-items: right;
    margin-right: 1rem;
}

.zettelkasten-flow__navbar_button_group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 1rem;
}

.zettelkasten-flow__navbar_button_group>button {
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.25rem;
    margin-right: 0.5rem;
    background: linear-gradient(to bottom,
            var(--navbar-button-hover),
            var(--navbar-button-hover)) no-repeat,
        var(--button-initial-color);
    background-size: 100% 0;
    background-position: 0 100%;
    transition: background-size 0.2s ease-in-out,
        background-position 0.2s ease-in-out;
}

.zettelkasten-flow__navbar_button_group>button:hover {
    background-size: 100% 100%;
}

.zettelkasten-flow__navbar_skip_button {
    color: var(--interactive-accent);
    --navbar-button-hover: var(--interactive-accent-hover);
    --button-initial-color: var(--interactive-accent);
}

.zettelkasten-flow__navbar_build_button {
    color: var(--background-secondary);
    --navbar-button-hover: var(--background-modifier-error);
    --button-initial-color: var(--background-primary);
}