.zettelkasten-flow__search-results {
    position: fixed;
    z-index: 9999;
    background-color: var(--background-secondary);
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid var(--background-modifier-border);
    border-radius: 4px;
    /* rounded corners */
    box-shadow: 0 2px 5px var(--background-modifier-border);
    /* drop shadow */
    max-height: min(200px, 45vh);
    /* max height is 90% of the viewport height */
    overflow-y: auto;
    /* enable vertical scrolling */
    transition: all 0.1s ease;
    /* smooth transition animation */
    animation: fadeIn 0.1s ease forwards;
    /* fade in animation */
    /* rendered as portal: overlaying the rest of the page */
}

.zettelkasten-flow__search-hidden {
    animation: fadeOut 0.3s ease forwards;
    /* fade out animation */
}

.zettelkasten-flow__search-selected {
    background-color: var(--color-accent);
    transition: background-color 0.3s ease;
    /* smooth transition animation on background-color */
}

.zettelkasten-flow__search-results li {
    padding: 8px 12px;
    cursor: pointer;
}

.zettelkasten-flow__search-results li:hover {
    background-color: var(--background-modifier-hover);
}

.zettelkasten-flow__search-results li:focus {
    outline: none;
    background-color: var(--background-modifier-focus);
}