.zettelkasten-flow__selectable-search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.zettelkasten-flow__selectable-search-header {
    display: flex;
    width: 100%;
}

.zettelkasten-flow__selectable-search-header>button {
    border-radius: 0%;
    height: auto;
}

.zettelkasten-flow__selectable-search-header>button:hover {
    color: var(--background-modifier-error);
}

.zettelkasten-flow__selectable-pill-group {
    flex-grow: 1;
    border: 1px solid var(--background-modifier-border);
}

.zettelkasten-flow__selectable-pill-group>input {
    border-radius: 0%;
    background-color: transparent;
    border: 0;
    width: 10%;
}

.zettelkasten-flow__selectable-pill-group>input:focus {
    outline: none;
    width: fit-content;
}

.zettelkasten-flow__selectable-pill {
    padding: 0.1em 0.2em;
    margin: 0.15em;
    background-color: var(--color-accent);
    border: 2px solid var(--background-modifier-focus);
    border-radius: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.zettelkasten-flow__selectable-pill:hover {
    background-color: var(--background-modifier-hover);
}

.zettelkasten-flow__selectable-pill button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    max-height: 1.2rem;
    max-width: 1.2rem;
    border-radius: 50%;
    background-color: var(--background-modifier-box-shadow);
}

.zettelkasten-flow__selectable-pill>button:hover {
    color: var(--background-modifier-error);
}

.zettelkasten-flow__selectable-search-results {
    position: relative;
}