.zettelkasten-flow__toolkit-intro {
    .setting-item-name {
        color: var(--text-muted);
        font-size: var(--font-ui-small);
    }
}

.zettelkasten-flow__toolkit-group .setting-item-control {
    gap: 0.4rem;
}
