/*****************
*   VARIABLES
******************

.zettelkasten-flow__variables{
    
}
/

/* This section warning the user with red tones */
.zettelkasten-flow__settings-developer-section{
    background-color: var(--background-modifier-error);
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

/*****************
*   SELECTOR MENU
******************/
.zettelkasten-flow__header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.zettelkasten-flow__header p{
    text-align: center;
    size: var(--h2-size);
    font-weight: var(--h2-weight);
    color: var(--h2-color);
}

.zettelkasten-flow__section{
    margin-bottom: 1rem;
}

.zettelkasten-flow__option{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem var(--color-accent);
    transition: all 0.2s ease-in-out;
}

.zettelkasten-flow__option:hover{
    border: 1px solid var(--input-shadow-hover);
    box-shadow: 0 0.5rem 1rem var(--color-accent);
}

.zettelkasten-flow__selected{
    background-color: var(--background-modifier-success);
}