/*
*  Architecture
* ---------------
*/
@import 'utils/variables.scss';
@import 'utils/animations.scss';
@import 'utils/mixins.scss';

/*
*  Libraries
* ---------------
*/
@import 'libraries/dragAndDrop.scss';

/*
*  Components
* ---------------
*/
@import 'components/backlink.scss';
@import 'components/navbar.scss';
@import 'components/search.scss';
@import 'components/selectableSearch.scss';
@import 'components/accordion.scss';
@import 'components/input.scss';
@import 'components/settings.scss';

/* This section warning the user with red tones */
.zettelkasten-flow__settings-developer-section {
    background-color: var(--background-modifier-error);
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

/*****************
*   BASIC STYLES
******************/
.zettelkasten-flow__display-grid {
    display: grid;
}

.zettelkasten-flow__invalid input {
    border: 1px solid var(--background-modifier-error) !important;
    box-shadow: 0.125rem 0.25rem var(--background-modifier-error);
}

.zettelkasten-flow__invalid label {
    color: var(--background-modifier-error) !important;
}

.zettelkasten-flow__group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.zettelkasten-flow__input_group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.zettelkasten-flow__input_group>div {
    margin-right: 10px;
}

.zettelkasten-flow__input_item {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

/*****************
*   SELECTOR MENU
******************/
.zettelkasten-flow__icon>.custom-icon {
    fill: var(--text-normal);
}

.zettelkasten-flow__header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.zettelkasten-flow__header p {
    text-align: center;
    size: var(--h2-size);
    font-weight: var(--h2-weight);
    color: var(--h2-color);
    margin-left: auto;
    margin-right: auto;
}

.zettelkasten-flow__header button {
    width: 3rem;
}

.zettelkasten-flow__header button:disabled {
    display: none;
}

.zettelkasten-flow__section {
    margin-bottom: 1rem;
}

.zettelkasten-flow__select-group input {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    display: none;
}

.zettelkasten-flow__option {
    background-color: rgba(var(--canvas-color), 0.25);
    border-color: rgba(var(--canvas-color), 0.5);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem var(--color-accent);
    transition: all 0.2s ease-in-out;
}

.zettelkasten-flow__option:hover {
    border: 1px solid var(--input-shadow-hover);
    box-shadow: 0 0.5rem 1rem var(--color-accent);
}

.zettelkasten-flow__option label {
    margin-right: 10px;
}

.zettelkasten-flow__selected {
    border-color: var(--background-modifier-success);
    box-shadow: 0 0.125rem 0.25rem var(--background-modifier-success);
}

/*****************
*   ACTIONS COMMON
******************/
.zettelkasten-flow__accordion-header-label:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

/*****************
*   DROPDOWN
* .zettelkasten-flow__dropdown-group
******************/

.zettelkasten-flow__welcome-tutorial li {
    /* space between list items */
    padding-bottom: 0.35rem;
}

/********************
*   ACTION MANAGEMENT
*********************/
.zettelkasten-flow__actions-management-add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}